:root{
	--main-bg-color: #313131;
	--title-text-color: #5D76FF;
	--grey-text-color: #C1C1C1;
}

header{
	color: var(--title-text-color);
	text-align: center;
}

footer{
	color: var(--grey-text-color);
	text-align: center;
}

body{
	background: var(--main-bg-color);
	padding: 0;
	margin: 0;
}

#sketch-holder{
	padding: 500;
	display: flex;
	justify-content: center;
}
