/* Global Styles */

html {
    height: 100%;
}

body {
    background-color: lightblue;
    margin: 0;
}

.header {
    display: flex;
    font-family: 'Amaranth', sans-serif;
    justify-content: center;
    text-transform: uppercase;
}

/* Nav Styles */

.nav-wrapper {
    background-color: rgb(201, 199, 199);
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    border-bottom: 1px solid darkgray;
}

.left-column {
    display: flex;
}

.left-column>div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgb(143, 125, 125);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Images Styles and Animations */
img {
    border-radius: 8px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.image {
    opacity: 1;
    transition: 1s;
}

.image:hover {
    opacity: 0.3;
}

/* Battleship Styles */

.battleship-grid {
    display: flex;
    justify-content: center;
}

.grid {
    width: 800px;
    height: 800px;
    background: black;
    border-radius: 24px;
}

.slope-menu {
    position: relative;
    font-family: 'Amaranth', sans-serif;
    font-weight: 800;
    width: 200px;
    height: 800px;
    background: darkgray;
    border-radius: 24px;
}

.parameters {
    display: block;
}

.formula {
    display: block;
    text-align: center;
}

.instructions {
    position: absolute;
    bottom: 10px;
}

.titles {
    display: block;
    text-align: center;
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

input[type=text] {
    width: 70%;
    background-color: lightgray;
    border-color: transparent;
    border-radius: 3px;
    margin-right: 20px;
    float: right;
}

input[type=button] {
    font-family: 'Amaranth', sans-serif;
    font-size: 150%;
    margin-right: 25px;
    float: right;
    width: 75%;
    height: 40px;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}