/* Global Styles */

body {
    /*background-image: url(https://background-tiles.com/overview/blue/patterns/large/1061.png);
    */
    background-color: white;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 40px;
}

.container {
    position: relative;
}

/* Nav Styles */

.nav-wrapper {
    background-color: lightgray;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    box-shadow: 0 4px 6px -6px #222;
    z-index: 1;
}

.left-column {
    display: flex;
}

.left-column>div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Home Page Styles */
img {
    border-radius: 8px;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
    flex-direction: column;
}

.img-item-wrapper {
    position: relative;
    opacity: 0.5;
    transition: 0.5s;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-item-wrapper:hover {
    opacity: 1;
}

.subtitle {
    position: absolute;
    bottom: 10px;
    font-family: 'Amaranth', sans-serif;
    font-size: 120%;
    transition: 0.5s;
    color: transparent;
    text-align: center;
    width: 500px;
}

.img-item-wrapper:hover .subtitle {
    color: black;
}

/* About Page Styles */

.background-image-wrapper {
    display: block;
    height: 100%;
    width: 100%;
}

.background-image {
    background-image: url(https://p13cdn4static.sharpschool.com/userfiles/servers/server_233510/image/screen%20shot%202018-02-25%20at%203.49.25%20pm.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Battleship Page Styles */

.battleship-grid {
    display: flex;
    justify-content: center;
}


.slope-menu {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-weight: 500;
    font-size: 90%;
    width: 200px;
    height: 800px;
    background: rgb(55, 121, 129);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    z-index: 0;
}

.parameters {
    display: block;
}

.formula {
    display: block;
    text-align: center;
}

.instructions {
    position: absolute;
    bottom: 10px;
}

canvas {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.guide-wrapper {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
}

.guide-box-wrapper {
    background-color: rgb(55, 121, 129);
    width: 40%;
    margin-left: 60vh;
    border-radius: 10px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.titles {
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

input[type=number] {
    width: 70%;
    background-color: rgb(64, 179, 191);
    border-color: transparent;
    border-radius: 3px;
    margin-right: 20px;
    float: right;
    outline: 0;

}

input[type=number] {
    background-color: rgb(108, 207, 218);
}

input[type=button] {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    margin-right: 25px;
    float: right;
    width: 75%;
    height: 40px;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 0;
    background-color: rgb(64, 179, 191);
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

input[type=button]:hover {
    border-color: white;
}

input[type=button]:active {
    background-color: rgb(108, 207, 218);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}